#login{
    max-width: 300px;
    min-width: 200px;
    
    margin: 2vh auto 0;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    background-color: #aa76ff;
    
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    padding: 5vh;
    
    color: white;
    font-size: 20px;
}

#login h2{
   text-align: center;
}

#login input:focus{
    box-shadow: 0 0 8px gray;
}

#login :is(input,button){
    border-radius: 5px;
}

#login :is(input,button){
    box-sizing: border-box;
    display: block;

    width: 100%;

    padding: 0.5rem;
    margin: 1.5vh 0;
    border: 0.5px solid gray;
    outline: none;

    color: black;
}

/*
Regra relacionada à adição do Ícone (para que entrar fique centralizado)
*/

#entrar{
    display:inline-block;
    position: relative;
    transform: translate(0,-45%);
}