@import url(../styles.css);
@import url(../form.css);

#listagem-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 60vw;

    gap: 5vh;
}

#listagem-filter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;
    align-content: stretch;
 
    /* flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    */

    gap: 10px;
}

#listagem-filter-container > div {
    text-align: center;
}

#listagem-filter-container > div:hover {
    cursor: pointer;
}

#listagem-filter-container input[type="radio"] {
    opacity: 0;
    position: fixed;
}

#listagem-filter-container > div:has(input[type="radio"]:checked) {
    /* background-color: yellow; */
    border-bottom: 3px solid #fff;
}

/* #listagem-filter-container button {
} */

/* Container de entradas das listagens */
#entradas-listagem-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-content: stretch;

    gap: 0.5vh;
}

/* Card da entrada (representa um registro no BD) */
.entrada-listagem {
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    flex: 1;

    justify-content: space-between;

    gap: 0.5vh 1vw;
}

.entrada-listagem p {
    color: #222;
    margin: 0;
}

.entrada-listagem b {
    color: #222;
    flex-basis: 100%;
    margin: 0;
    font-size: 1.2em;
}

/* Container interno para conjuntos de dados (em coluna) */
.entrada-listagem-grupo {
    background-color: lightgray;

    padding: 1vh;    

    display: flex;
    flex-direction: column;
    flex: 1;
}

@media (max-width: 600px) {
    .entrada-listagem-grupo {
        flex-basis: 100%;
    }

    #listagem-container {
        width: 90vw;
    }

    main{
        padding: 5vh 2vw;
    }
}

.hide {
    display: none;
}

