@import url(../styles.css);

main {
    padding-left: 0;
    padding-right: 0;
    padding: 20px 0 0 0;
}

/* A <main> that has a <form> under it */
#cadastro-form {
    margin: 0 auto;
    max-width: 500px;
    font-size: 1.2rem;
}

/* Flexbox form layout, with elements spread across the space */
#cadastro-form > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 5px 0;
    margin: 5px 0;
}

#cadastro-form > button {
    width: 100%;
    font-size: 1.2rem;
}

#listagem-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;

    gap: 20px;
}

@media (max-width: 600px) {
    #listagem-container {
        width: 95%;
    }
}

#listagem-filter-container {
    flex: 1;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;

    gap: 10px;
}

#listagem-filter-container input[type="radio"] {
    opacity: 0;
    position: fixed;
}

#listagem-filter-container div {
    text-align: center;
}

#listagem-filter-container div:hover {
    cursor: pointer;
}

#listagem-filter-container > div:has(input[type="radio"]:checked) {
    /* background-color: yellow; */
    border-bottom: 3px solid #fff;
}

#listagem-filter-container button {
}

/* Container de entradas das listagens */
#entradas-listagem-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-content: stretch;

    gap: 5px;
}

/* Card da entrada (representa um registro no BD) */
.entrada-listagem {
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    flex: 1;

    justify-content: space-between;

    gap: 5px 10px;
}

.entrada-listagem p {
    color: #222;
    margin: 0;
}

.entrada-listagem b {
    color: #222;
    flex-basis: 100%;
    margin: 0;
    font-size: 1.2em;
}

/* Container interno para conjuntos de dados (em coluna) */
.entrada-listagem-grupo {
    background-color: lightgray;

    padding: 5px 10px;    

    display: flex;
    flex-direction: column;
    flex: 1;
}

@media (max-width: 600px) {
    .entrada-listagem-grupo {
        flex-basis: 100%;
    }
}

.hide {
    display: none;
}

